In [11]:
# Exercise 2

# Data Science Tools and Ecosystem

In [14]:
# Exercise 3

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 4
1. R
2. Python
3. Java

# Exercise 5

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. dplyr
3. panda

# Exercise 6
# Data Science Tools
1. Jupyter Notebook
2. RStudio
3. Apache Spark
4. TensorFlow
5. Apache Hadoop
6. KNIME

# Exercise 7
### Below are a few examples of evaluating arithmetic expressions in Python

In [23]:
# Exercise 8
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [25]:
# Exercise 9
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

# Exercise 10
**Objectives:**
- List popular languages for Data Science
- Understand key data science tools and ecosystems
- Learn how to create and use Jupyter Notebooks
- Explore common data manipulation libraries in R
- Discuss cloud-based data science tools like Google Colab

## Author
Eva Doe